/**********************************
PERSONAL RANGE BAR
************************************/
footer .bar-container {
    padding-block: var(--p-block-xs);
    width: 40%;
    cursor: pointer;
}
footer .bar {
    display: block;
    background: #474747;
    border-radius: 30px;
    width: 100%;
    height: 6px;
    position: relative;
}

footer .bar:before {
    content: "";
    display: block;
    width: 40%;
    height: 6px;
    border-radius: 30px;
    background: var(--color-lightgrey);
    position: absolute;
    top: 0;
    left: 0;
}

footer .bar:after {
    content: "";
    display: none;
    background: var(--color-lightgrey);
    border-radius: 50%;
    width: .7rem;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -30%);
}

footer .bar-container:hover .bar::before {
    background: var(--color-highlight);
}

footer .bar-container:hover .bar::after {
    display: block;
}

/***************************************************
real range bar 
**************************************************/
.slidecontainer {
    width: 70%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: auto;
    appearance: auto;
    width: 100%;
    accent-color: var(--color-highlight);
}
