/** =============================================================================

** ********************* INDICE:
** - RIGA 7: :root, debug, resets, components
** - RIGA 149: macrostruttura
** - RIGA 190: sidebar
** - RIGA 320: main
** - RIGA 565: footer 
** - RIGA 635: MEDIA QUERIES

**============================================================================= */

:root {
    --height-footer: 90px;
    --height-header: 80px;
    --p-inline-md: 20px;
    --p-inline-sm: 10px;
    --p-block-md: 20px;
    --p-block-sm: 15px;
    --p-block-xs: 5px;
    --gap-lg: 40px;
    --gap-md: 20px;
    --gap-sm: 10px;
    --gap-xs: 5px;
    --text-smaller: .8rem;
    --text-sm: .9rem;
    /* main colors */
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    /* light mode */
    --light-primary-text: var(--color-black);
    --light-secondary-text: #000000e6;
    --light-secondary-bg: var(--color-lightgrey);
    --light-sidebar: #e0e0e0;
    --light-header: var(--color-lightgrey);
    --light-main-content: var(--color-light);
    --light-footer: var(--color-lightgrey);
    --light-highlight: #307749;
    --light-library-bg: var(--color-lightgrey);
    --light-filter: brightness(0) saturate(100%) invert(5%) sepia(4%) saturate(6699%) hue-rotate(181deg) brightness(96%) contrast(90%);
    /* dark mode */
    --dark-primary-text: var(--color-light);
    --dark-secondary-text: var(--color-lightgrey);
    --dark-secondary-bg: var(--color-lightgrey);
    --dark-sidebar: var(--color-black);
    --dark-header: var(--color-dark);
    --dark-main-content: var(--color-dark);
    --dark-footer: var(--color-darkgrey);
    --dark-highlight: var(--color-highlight);
    --dark-library-bg: rgba(255, 255, 255, 0.05);
    --dark-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(105%) contrast(105%);
    /* default theme (dark theme) */
    --primary-text: var(--dark-primary-text);
    --secondary-text: var(--dark-secondary-text);
    --secondary-bg: var(--dark-secondary-bg);
    --sidebar: var(--dark-sidebar);
    --header: var(--dark-header);
    --main-content: var(--dark-main-content);
    --footer: var(--dark-footer);
    --highlight: var(--dark-highlight);
    --library-bg: var(--dark-library-bg);
    --filter: var(--dark-filter);  
}

/* switch to light theme */
#theme:checked~.wrapper {
    --primary-text: var(--light-primary-text);
    --secondary-text: var(--light-secondary-text);
    --secondary-bg: var(--light-secondary-bg);
    --sidebar: var(--light-sidebar);
    --header: var(--light-header);
    --main-content: var(--light-main-content);
    --footer: var(--light-footer);
    --highlight: var(--light-highlight);
    --library-bg: var(--light-library-bg);
    --filter: var(--light-filter);
}

/* debug */
.debug {
    border: 1px solid red;
}

/* resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    display: block;
    width: 100%;
}

#sidebar img {
    filter: var(--filter);
}

button {
    display: inline-block;
    color: inherit;
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.wrapper label {
    display: block;
    cursor: pointer;
}

/* components */
.btn {
    border: 1px solid var(--color-light);
    padding: 13px 39px;
    border-radius: 30px;
    color: var(--color-light);
}



/** =============================================================================

**================ MACROSTRUTTURA

**============================================================================= */

/* body */
/* --light */

/* wrapper */
.wrapper {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--secondary-text);
    overflow: hidden;
    height: 100dvh;
    min-width: 230px;
    overflow: hidden;
    position: relative;
}

/* upper content */
.upper-content {
    max-height: calc(100% - var(--height-footer));
    flex: 1 1 auto;
    overflow: hidden;
}

/* footer */
footer {
    background: var(--footer);
    flex: 0 0 var(--height-footer);
    position: relative;
    z-index: 10000;
    overflow: hidden;
}



/** =============================================================================

**============================== SIDEBAR

**============================================================================= */

/** MACROSTRUTTURA SIDEBAR*/
#sidebar {
    background: var(--sidebar);
    flex: 0 0 200px;
    padding-top: var(--p-block-sm);
    padding-bottom: var(--p-block-xs);
    position: relative;
    min-height: 260px;
    z-index: 10000;
}

.sidebar-top {
    flex-grow: 1;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-block: var(--p-block-xs);
    background: var(--sidebar);
    padding-inline: var(--p-inline-sm);
}



/** sidebar-top */
#sidebar .logo {
    width: 80%;
}

/*? filter preso da un filter generator */
#sidebar .logo:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(69%) sepia(28%) saturate(1163%) hue-rotate(86deg) brightness(94%) contrast(92%);
}

/* visibile solo per mobile  */
.logo-small {
    display: none;
}

#sidebar>*:not(.logo) {
    width: 100%;
}

/* sidebar nav */
.sidebar-nav li label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    position: relative;
}

.sidebar-nav li input:checked~label {
    color: var(--primary-text);
}

/* al click sull'elemento, compare un bordo laterale: trick radio-checked */
.sidebar-nav li input:checked~label::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    border: 2.3px solid var(--highlight);
    border-radius: 30px;
    top: 0;
    left: calc(0px - var(--p-inline-sm));
}

.sidebar-nav .image {
    width: 1.5rem;
}

/* sidebar section playlist */
.playlist .crea {
    font-size: 2.3rem;
}

.playlist>:nth-child(1)> :last-child {
    margin-block: var(--p-block-xs);
}

/* effetto libreria */
.playlist ul {
    height: 20em;
    padding-inline: var(--p-inline-sm);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: auto;
    background: var(--library-bg);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.playlist ul li {
    padding-block: var(--p-block-sm);
}



/** sidebar-bottom */
.sidebar-bottom .image {
    width: 1.5rem;
}

.sidebar-bottom .profile .image {
    background: var(--secondary-bg);
    border-radius: 50%;
    overflow: hidden;
}

/* sidebar hover */
.sidebar-nav li:hover,
.playlist>div>div:nth-child(2):hover,
.playlist ul li:hover,
.sidebar-bottom>:not(hr):hover {
    cursor: pointer;
    color: var(--primary-text);
}



/** =============================================================================

** ****************** MAIN 

**============================================================================= */
main {
    flex: 1 1 auto;
}

/** MAIN HEADER */
main .header {
    background: #0c1018aa;
    height: var(--height-header);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
}

/* posizione bottone header */
.header .btn {
    position: absolute;
    z-index: 5000;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.header .btn:hover {
    scale: 105%;
    text-shadow: -2px 2px 9px white;
    box-shadow: -2px 2px 10px 0px rgba(255, 255, 255, 0.4);
}



/** MAIN CONTENT */
/* main content ha un altezza fissata calcolata come 
spazio rimanente nella schermata tolto footer*/
main .main-content {
    background: var(--main-content);
    height: calc(100dvh - (var(--height-footer)));
    padding-top: calc(var(--height-header) + var(--p-block-md));
    overflow-y: auto;
}

/* main-content nav */
.main-content .main-nav ul {
    row-gap: 30px;
}

.main-content .main-nav li {
    position: relative;
}

.main-content .main-nav li:hover {
    color: var(--primary-text);
}

.main-content .main-nav li label {
    padding: 5px 10px;
}

.main-content .main-nav li input:checked~label {
    color: var(--primary-text);
}

/* al click sull'elemento compare un bordo inferiore: trick radio-checked */
.main-content .main-nav li input:checked~label::after {
    position: absolute;
    display: block;
    content: "";
    width: 70%;
    border: 2px solid var(--highlight);
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
}


/** MAIN-CONTENT SECTIONS */
/* generals */
.main-content .category-title {
    margin-top: 35px;
    margin-bottom: 25px;
}

.main-content .category-title h2,
.main-content .playlist-title {
    color: var(--primary-text);
}

.main-content .category-title h5 {
    font-weight: 600;
    margin-top: var(--p-inline-sm);
}

/* su ogni riga ci stanno massimo 6 card gap inclusi */
.main-content .card {
    width: calc((100% - (5 * var(--gap-sm))) / 6);
}

/** recently-played */
/* lista cards */
.recents .card-list {
    width: 100%;
    padding-top: var(--p-block-xs);
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    overflow-x: hidden;
    border-radius: 4px;
}

/* effetto velatino per lo slider */
.recents .card-list:before,
.recents .card-list:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: -10px;
    width: 10px;
    box-shadow: 10px 0 40px 3px #000000;
}

.recents .card-list::after {
    left: auto;
    right: -10px;
    box-shadow: -10px 0 40px 3px #000000;

}

/* animazione slider, per le recents card do una width senza considerare il gap  */
.recents .card {
    width:  calc(100% / var(--quantity));
    --alpha: 0.4;
    /*! coefficiente per la velocita di animazione range (0, 1] */
    --speed: calc(var(--quantity) * 10s * var(--alpha));
    animation: slider var(--speed) linear infinite;
    animation-delay: calc((var(--speed) / var(--quantity)) * ((var(--position) - var(--quantity))));
    /*! delay-card1 < delay-card2 < . . . < delay-last-card = 0 */
    transition: all .3s ease;
}

@keyframes slider {
    from {
        translate: calc(100% * (var(--quantity) - (var(--position) - 1) ));
        /* sposto dalla sua posizione relativa fino a spingere le cards (TUTTE UNO SOVRAPPOSTO ALL'ALTRO) sul bordo esterno destro del container padre */
    }

    to {
        translate: calc(-100% * var(--position) )
        /** sposto quanto? quanto la dimensione massima della card per la sua posizione*/
        /* NB: questo sarà dunque un valore negativo -> spingo lE cards (TUTTE UNO SOVRAPPOSTO ALL'ALTRO) sul bordo esterno sinistro del container padre*/
    }
}

/*? come faccio a mettere in pausa lo slider sull'hover di una card? */
/** seleziona i siblings che hanno un sibling successivo in hover  */
.recents .card:has(~ :hover) {
    animation-play-state: paused;
}

/** seleziona il child in hover  */
.recents .card:hover {
    animation-play-state: paused;
}

/** seleziona tutti i siblings successivi al sibling in hover */
.recents .card:hover~.card {
    animation-play-state: paused;
}

/* ogni card ha un div wrapper figlio anim che permette all'hover su di essa un'altra animazione senza sovrascrivere slider */
.recents .anim:hover {
    animation: bounce 2.5s ease-out infinite;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: translateY(0px);
    }

    25%,
    75% {
        transform: translateY(-5px);
    }

}

/*? for testing cards animation */
/* .inv:not(li:nth-child(6)) {
    visibility: hidden;
} */

/* copertina card */
.card-list .card-image {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.4);
}

/* effetto layover sulla card*/
.card-list .card-image i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4rem;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .25s linear;
}

.card-image:hover i {
    opacity: 1;
}

.card-list .playlist-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

/** section suggestions */

/** section populars */
.populars .card-image {
    border-radius: 50%;
    overflow: hidden;
}



/** =============================================================================

** ******************* FOOTER

**============================================================================= */
footer>div:not(.center) {
    width: 25%;
}

/** footer left */
.left .image {
    width: 3rem;
    border-radius: 4px;
    overflow: hidden;
}

.left .icons>i:last-child:hover {
    color: var(--primary-text);
}

/* se il cuoricino non è checkato (rosso), all'hover cambia color */
.icons input:not(:checked)~label:hover {
    color: var(--primary-text);
}

/* al click sul cuoricino, diventa rosso: trick radio checked */
.icons input:checked~label {
    color: red;
}

/** footer center */
footer .center {
    flex-grow: 1;
}

footer .controls {
    font-size: 1rem;
    gap: 30px;
}

footer .controls :nth-child(3) {
    font-size: 2rem;
}

footer .controls i:hover {
    scale: 110%;
}

footer .timebar {
    width: 100%;
}

/** footer right */
.right i {
    font-size: 1.1em;
}

.right i:hover {
    color: var(--primary-text);
}

/* footer general hovers */
footer i,
footer .bar {
    cursor: pointer;
}



/** =============================================================================

** ******************** MEDIA QUERIES *******************************************

**============================================================================= */
/* tablets */
@media screen and (max-width: 992px) {

    :root {
        --height-footer: 130px;
    }

    /* switch label */
    /* #switch-label {
        display: none;
    } */

    /** =========================================================================
    **  SIDEBAR 
    **========================================================================= */
    /** sidebar top*/
    .sidebar-top {
        gap: var(--gap-lg);
    }

    .sidebar-nav {
        gap: var(--gap-md);
    }

    /* crea playlist */
    .playlist> :nth-child(1)> :last-child {
        margin-block: var(--p-block-sm);
    }

    /** =========================================================================
    ** MAIN CONTENT 
    **========================================================================= */
    .recents .card-list {
        flex-wrap: wrap;
        min-width: auto;
    }

    /* ridimensiono larghezza delle cards per farcene stare 4 */
    .main-content .card,
    .recents .card {
        width: calc((100% - (3 * var(--gap-md))) / 4);
    }

    /* ridimensionamento font-size */
    .main-content .card-title {
        font-size: 80%;
    }

    .main-content .main-nav {
        font-size: 90%;
    }

    .main-content .card-list {
        gap: var(--gap-md);
    }

    /* tolgo animazione slider da 992px in giu */
    .recents .card {
        position: static;
        animation: none;
    }

    /* tolgo animazione bounce */
    .recents .anim:hover {
        animation: none;
    }

    /* tolgo velatino */
    .recents .card-list:before,
    .recents .card-list:after {
        display: none;
    }

    /** =========================================================================
    ** FOOTER 
    **========================================================================= */
    #footer {
        font-size: 1rem;
        padding-inline: var(--p-inline-md);
    }

    .center {
        justify-content: center;
    }

    footer .controls {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {

    /** =========================================================================
    ** HEADER 
    **========================================================================= */
    /* ridimensionamento header button */
    .header .btn {
        font-size: 70%;
        padding: 10px 25px;
    }

    /** =========================================================================
    **  MAIN CONTENT
    **========================================================================= */
    /* ridimensionamento font-size */
    .main-content .main-nav {
        font-size: 80%;
    }

    .main-content .card-title {
        font-size: 70%;
    }

    .main-content .card-list {
        gap: var(--gap-sm);
    }

    /* dimensione minima alle card, ridimensiono larghezza delle cards per farcene stare 4 */
    .main-content .card {
        min-width: calc((100% - (3 * var(--gap-sm))) / 4);
        max-height: 190px;
        overflow: hidden;
    }

    /* meno padding sul titolo playlist */
    .main-content .playlist-title {
        margin-top: 10px;
        margin-bottom: 7px;
    }

    /** =========================================================================
    ** FOOTER 
    **========================================================================= */
    footer>.left {
        gap: var(--gap-xs);
    }
}


/* mini tablets */
@media screen and (max-width: 576px) {

    /** =========================================================================
    ** MAIN HEADER 
    **========================================================================= */
    .header .btn {
        font-size: 60%;
        max-width: 50%;
        padding: 8px 20px;
    }

    /** =========================================================================
    **  MAIN CONTENT
    **========================================================================= */
    /* rimuovi dimensione minima fissa alle card */
    .main-content .card {
        min-width: auto;
        width: calc((100% - var(--gap-sm)) / 2);
        max-height: 100%;
    }

    /* per schermi piu piccoli riduco la larghezza di side-bar */
    #sidebar {
        width: 33%;
    }

    .main-content .card-list {
        gap: var(--gap-sm);
    }

    /** =========================================================================
    ** FOOTER 
    **========================================================================= */
    #footer {
        font-size: 65%;
    }

    footer .controls {
        font-size: 1rem;
        gap: 15px;
    }
}

/*big mobiles */
@media screen and (max-width: 480px) {

    :root {
        --height-header: 60px;
        --height-footer: 80px;
    }

    /** display none per tutti gli elementi a cui e attaccata visibility */
    .visibility {
        display: none;
    }

    /** =========================================================================
    ** SIDEBAR 
    **========================================================================= */
    /* ulteriore riduzione della larghezza di side-bar */
    #sidebar {
        max-width: min-content;
    }

    #sidebar .logo {
        width: 1.7rem;
        margin-bottom: 10px;
    }

    /* logo small ora appare */
    .logo-small {
        display: block;
    }

    .sidebar-top {
        gap: var(--gap-sm);
    }

    .sidebar-nav {
        gap: var(--gap-xs);
    }

    .sidebar-nav>* {
        padding-block: var(--p-block-xs);
    }

    /** =========================================================================
    **  MAIN CONTENT
    **========================================================================= */
    /* ridimensionamento font-size */
    .main-content .main-nav {
        font-size: 70%;
    }

    /** =========================================================================
    **  FOOTER
    **========================================================================= */
    #footer {
        gap: var(--gap-md);
    }

    footer .controls {
        font-size: var(--text-smaller);
    }

    footer>div:nth-child(2) .controls i:nth-child(3) {
        font-size: 2rem;
    }
}

/* mobiles */
@media screen and (max-width: 450px) {

    /** =========================================================================
    **  FOOTER
    **========================================================================= */
    /** UI UX specifica ai mobile */
    #footer {
        gap: var(--gap-md);
        padding-block: var(--p-block-xs);
    }

    /** left */
    footer>div:first-child {
        width: 50%;
        justify-content: space-between;
    }

    footer>div:first-child .image {
        width: 3.2rem;
    }

    footer>div:first-child .icons {
        font-size: 150%;
        flex-direction: column;
    }

    /** center */
    footer>div:nth-child(2) {
        justify-content: center;
    }

    footer>div:nth-child(2) .controls {
        width: 100%;
        justify-content: space-around;
    }

    footer>div:nth-child(2) .controls i {
        font-size: 1.5rem;
    }

    /** right */
    footer>div:last-child {
        width: auto;
        font-size: 150%;
        justify-content: center;
    }

    footer>div:last-child .bar {
        width: auto;
    }

    /* elementi invisibili */
    footer .controls i:first-child,
    footer .controls i:last-child,
    footer .timebar,
    footer .right i:not(:first-child),
    footer .right .bar {
        display: none;
    }
}

/* smartphone ancora piu piccoli es: iphone 5 */
@media screen and (max-width: 320px) {

    :root {
        --height-footer: 50px;
    }

    /** MAIN HEADER */
    main .header {
        display: none;
    }

    main .main-content {
        padding-top: var(--p-block-md);
    }

    /** FOOTER */
    #footer {
        padding-block: var(--p-block-xs);
    }

    /* left */
    #footer .left .image {
        width: 2.5rem;
    }

    .left .icons {
        display: none;
    }

    /* right */
    footer>div:last-child {
        display: none;
    }
}

/* SPERIMENTALE */
@media screen and (max-height: 700px) {
    .playlist ul {
        height: 9rem;
    }

    .playlist ul li {
        padding-block: 10px;
    }
}

/* landscape */
@media screen and (max-height: 576px) and (max-width: 950px) {

    :root {
        --height-footer: 80px;
    }

    /** MAIN HEADER */
    main .header {
        display: none;
    }

    main .main-content {
        padding-top: var(--p-block-md);
    }

    /** in landscape (mobiles) la sidebar è scrollabile */
    /** SIDEBAR */
    #sidebar {
        min-height: auto;
        overflow: auto;
    }

    .playlist ul {
        display: none;
    }

    .sidebar-bottom {
        position: static;
    }

    /** FOOTER */
    #footer {
        min-height: 0;
        padding-block: 0;
    }
}