/* root */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-red: #ca1717;
    --height-footer: 100px;
    --height-header: 80px;
    --p-inline-md: 20px;
    --p-inline-sm: 10px;
    --p-block-md: 20px;
    --p-block-sm: 10px;
    --gap-md: 20px;
    --gap-sm: 15px;
    --gap-xs: 5px;
    --text-smaller: .8rem;
    --text-sm: .9rem;
}

/* debug */
.debug {
    border: 1px solid red;
}

/* resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    display: block;
    width: 100%;
}

button {
    display: inline-block;
    color: inherit;
    border: none;
    background: none;
    cursor:pointer;
}

/* utilities */
.pointer {
    cursor: pointer;
}
/* flex */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.content-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

/* text format */
.text-light {
    color: var(--color-light);
}

.text-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.text-sm {
    font-size: var(--text-sm);
}
.text-smaller {
    font-size: var(--text-smaller);
}
.text-semibold {
    font-weight: 600;
}
.text-bold {
    font-weight: 800;
}

/* spacers */
.p-inline-md {
    padding-inline: var(--p-inline-md);
}

.p-inline-sm {
    padding-inline: var(--p-inline-sm);
}

.p-block-md {
    padding-block: var(--p-block-md);
}

.p-block-sm {
    padding-block: var(--p-block-sm);
}

.gap-md {
    gap: var(--gap-md);
}

.gap-sm {
    gap: var(--gap-sm);
}
.gap-xs {
    gap: var(--gap-xs);
}

/* components */
.btn {
    border: 1px solid var(--color-light);
    padding: 13px 39px;
    border-radius: 30px;
    color: var(--color-light);
}

/* body */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--color-lightgrey);
}

/* wrapper */
.wrapper {
    height: 100vh;
}

/* upper content */
.upper-content {
    max-height: calc(100vh - var(--height-footer));
    flex: 1 1 auto;
}

/* upper content SIDEBAR */
#sidebar {
    background: var(--color-black);
    flex: 0 0 200px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    overflow: auto;
}
#sidebar .logo {
    width: 80%;
}
/* sidebar nav */
.sidebar-nav li {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    margin-block: 15px;
    cursor: pointer;
    position: relative;
}
.sidebar-nav li:first-child::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    border: 2.3px solid var(--color-highlight);
    border-radius: 30px;
    top: 0;
    left: calc(0px - var(--p-inline-sm));
}
.sidebar-nav .image {
    width: 1.5rem;
}
/* sidebar section playlist */
.playlist .crea {
    font-size: 2.3rem;
}
.playlist > div:nth-child(2) {
    margin-block: 10px;
    cursor: pointer;
}
.playlist ul li {
    margin-block: 15px;
    cursor: pointer;
}
/* sidebar profile-content */
.profile-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.profile-content .install {
    position: relative;
    width: 100%;
    order: 10;
    cursor: pointer;
}

.profile-content .install::before {
    content: "";
    display: block;
    background: url("../img/download.svg");
    width: 1.3rem;
    aspect-ratio: 1;
}

.profile-content .install::after {
    content: "";
    display: block;
    position: absolute;
    width:100%;
    border: 1px solid var(--color-lightgrey);
    left: 0;
    bottom: -10px;
}

.profile-content .image {
    width: 1.5rem;
    background: var(--color-lightgrey);
    border-radius: 50%;
    overflow: hidden;
}
/* sidebar hover */
.sidebar-nav li:hover,
.playlist > div:nth-child(2):hover,
.playlist ul li:hover,
.profile-content > *:hover {
    color: var(--color-light);
}
/* upper content MAIN */
main {
    flex: 1 1 auto;
}

/* main header */
main .header {
    background: #0c1018;
    height: var(--height-header);
    position: relative;
}
/* posizione bottone header */
.header .btn {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}
.header .btn:hover {
    scale: 105%;
}
/* main main-content */
/* main content ha un altezza fissata calcolata come 
spazio rimanente nella schermata tolti header e footer*/
/* all'overflow del suo contenuto compare la barra di scorrimento */
main .main-content {
    background: var(--color-dark);
    height: calc(100vh - (var(--height-header) + var(--height-footer)));
    overflow-y: auto;
}
/* MAIN-CONTENT NAV */
.main-content .main-nav ul {
    row-gap: 30px;
}
.main-content .main-nav li {
    position: relative;
}
.main-content .main-nav li:hover {
    color: var(--color-light);
}
.main-content .main-nav li a {
    padding: 5px 10px;
}
/* solo il primo child della navbar */
.main-content .main-nav li:first-child::after {
    position: absolute;
    display: block;
    content: "";
    width: 30%;
    border: 2px solid var(--color-highlight);
    left: 50%;
    transform: translateX(-50%);
}
/* MAIN-CONTENT SECTIONS */
.main-content .category-title {
    margin-top: 35px;
    margin-bottom: 25px;
}

.main-content .category-title h2,
.main-content .playlist-title {
    color: var(--color-light);
}

.main-content .category-title h5 {
    font-weight: 600;
}

/* copertina card */
.card-list .card-image {
    position: relative;
}

.card-list .card-image i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4rem;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.card-image:hover  i {
    visibility: visible;
}

.card-list .playlist-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-content .card {
    width: calc((100% - (5 * var(--gap-sm))) / 6);
}
/* section populars */
.populars .card-image {
    border-radius: 50%;
    overflow: hidden;
}

/* footer */
footer {
    background: var(--color-darkgrey);
    flex: 0 0 var(--height-footer);
}

/**********************
MEDIA QUERIES
*********************/
/* tablets */
@media screen and (max-width: 992px) {

    /* ridimensionamento font-size */
    .main-content .card-title {
        font-size: 80%;
    }
    .main-content .main-nav {
        font-size: 90%;
    }

    /* ridimensiono larghezza delle cards per farcene stare 4 */
    .main-content .card {
        width: calc((100% - (3 * var(--gap-md))) / 4);
    }
}

@media screen and (max-width: 768px) {
    
    /* HEADER */
    .header .btn {
        font-size: 70%;
        padding: 10px 25px;
    }
    /* MAIN */
    /* dimensione minima alle card */
    .main-content .card {
        min-width: 90px;
    }
    /* ridimensionamento font-size */
    .main-content .card-title {
        font-size: 65%;
    }
    .main-content .main-nav {
        font-size: 80%;
    }

    /* meno padding sul titolo playlist */
    .main-content .playlist-title {
        margin-top: 10px;
        margin-bottom: 7px;
    }
}


/* big mobiles */
@media screen and (max-width: 576px) {

    /* HEADER */
    .header .btn {
        font-size: 60%;
        max-width: 50%;
        padding: 8px 20px;
    }

    /* MAIN-CONTENT */
    /* rimuovi dimensione minima alle card */
    .main-content .card {
        min-width: auto;
    }

    /* per schermi piu piccoli riduco la larghezza di side-bar */
    #sidebar {
        max-width: 33%;
    }

    /* ridimensiono larghezza delle cards per farcene stare 2 */
    .main-content .card {
        width: calc((100% - var(--gap-sm)) / 2);
    }
}

/* mobiles */
@media screen and (max-width: 480px) {

    /* ulteriore riduzione della larghezza di side-bar */
    #sidebar {
        flex-basis: 20%;
    }
    /* ridimensionamento font-size */
    .main-content .main-nav {
        font-size: 70%;
    }
}